*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 10px;
}

.flex{
    display: flex;
    align-items: center;
    gap: 20px;
}

.list-table{
    width: 500px;
    margin-top: 20px;
    /* border: 1px solid red; */
    border-collapse: collapse;
}
.list-table th{
    border: 1px solid gray;
    padding: 5px;
}
.list-table td{
    border: 1px solid gray;
    padding: 2px;
}

.task-list{
    width: 500px;
    border: 1px solid gray;
    margin-top: 20px;
}

.task-list .task-header{
    display: grid;
    grid-template-columns:  1fr 1fr;
    padding: 5px;
}

.task-list .task-bar{
    display: grid;
    grid-template-columns:  1fr 1fr;
    padding: 5px;
    border-top: 1px solid gray;
}